{% load allauth %}
<span
    {% if 'primary' in attrs.tags %}
    class="badge text-bg-primary"
    {% elif 'secondary' in attrs.tags %}
    class="badge text-bg-secondary"
    {% elif 'current' in attrs.tags %}
    class="badge text-bg-primary"
    {% elif 'success' in attrs.tags %}
    class="badge text-bg-success"
    {% elif 'warning' in attrs.tags %}
    class="badge text-bg-warning"
    {% elif 'danger' in attrs.tags %}
    class="badge text-bg-danger"
    {% elif 'info' in attrs.tags %}
    class="badge text-bg-info"
    {% elif 'dark' in attrs.tags %}
    class="badge text-bg-dark"
    {% else %}
    class="badge text-bg-primary"
    {% endif %}
>
    {% slot %}
    {% endslot %}
</span>
