{% extends 'layouts/base_page.html' %}

{% load i18n %}
{% load pyaa %}

{% block content %}

{% url 'account_email' as url_account_email %}
{% url 'account_update_profile' as url_account_update_profile %}
{% url 'account_update_avatar' as url_account_update_avatar %}
{% url 'account_delete' as url_account_delete %}
{% url 'account_logout' as url_account_logout %}
{% url 'account_subscriptions' as url_account_subscriptions %}
{% url 'account_credits' as url_account_credits %}

{% element page_title %}
    {% translate "title.account-profile" %}
{% endelement %}

<p class="text-center">
    {% blocktranslate with name=user.get_full_name %}Hi {{ name }}!{% endblocktranslate %}
</p>

<p class="text-center">
    {% if customer.credits %}
        {% blocktranslate with credits=customer.credits %}Credits: {{ credits }}{% endblocktranslate %}
    {% else %}
        {% translate "customer.no-credits" %}
    {% endif %}
</p>

<div class="text-center">
    {% include "partials/customer_avatar.html" %}

    <p>
        {% element button href=url_account_email %}
            {% translate "button.change-email" %}
        {% endelement %}
    </p>

    <p>
        {% element button href=url_account_update_profile %}
            {% translate "button.update-profile" %}
        {% endelement %}
    </p>

    <p>
        {% element button href=url_account_update_avatar %}
            {% translate "button.update-avatar" %}
        {% endelement %}
    </p>

    {% element hr %}{% endelement %}

    <p>
        {% element button href=url_account_subscriptions %}
            {% translate "button.account-subscriptions" %}
        {% endelement %}
    </p>

    <p></p>
        {% element button href=url_account_credits %}
            {% translate "button.account-credits" %}
        {% endelement %}
    </p>

    {% element hr %}{% endelement %}

    <p>
        {% element button href=url_account_delete tags="danger" %}
            {% translate "button.account-delete" %}
        {% endelement %}
    </p>

    <p>
        {% element button href=url_account_logout tags="danger" %}
            {% translate "button.account-logout" %}
        {% endelement %}
    </p>
</div>

{% endblock content %}
