{% extends "layouts/base.html" %}

{% block head_title %}Change Password{% endblock %}

{% block whitebox %}
<h1 class="mb-5 text-3xl text-center">Change Password</h1>
<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {% include "account/_render_form.html" %}
    {% include "account/_button.html" with text="Change Password" %}
</form>

<div class="flex justify-center mt-6 text-xs">
    <a class="text-blue-400 hover:text-blue-500" href="/">Home</a>
    <span class="mx-2 text-gray-300">/</span>
    <a class="text-blue-400 hover:text-blue-500" href="{% url 'account_reset_password' %}">Forgot Password?</a>
</div>
{% endblock %}
