div.alert ul {
    margin: 0;
}

.footer {
    font-size: 0.7em;
}

.content-body img {
    max-width: 100%;
    height: auto;
}

.grecaptcha-badge {
    visibility: hidden;
}

.plan-description .list-group-item {
    background-color: transparent;
}