// bootstrap icons
@import "../vendor/bootstrap-icons/bootstrap-icons.min";

// bootstrap theme
@import "theme";

// bootstrap variables
@import "../vendor/bootstrap/scss/functions";
@import "../vendor/bootstrap/scss/variables";
@import "../vendor/bootstrap/scss/mixins";

// bootstrap components
@import "../vendor/bootstrap/scss/bootstrap";

// custom
@import "custom";
