# django
django==6.0
django-admin-extras==1.0.2
django-cleanup==9.0.0
django-timezone-field==7.2.1
django-tinymce==5.0.0
django-cors-headers==4.9.0
django-widget-tweaks==1.5.0
django-compressor==4.6.0
django-bootstrap5==25.3
django-resized==1.0.3
django-sass-processor==1.4.2
django-cache-cleaner==0.2.0
django-nonrelated-inlines==0.2
django-storages==1.14.6
django-admin-rangefilter==0.13.5
django-admin-list-filter-dropdown==1.0.3
django-recaptcha==4.1.0
django-q2==1.9.0
django-translation-flags==1.0.6
django-localflavor==5.0
django-ipware==7.0.1

# django ninja
django-ninja==1.5.1
django-ninja-extra==0.30.8
django-ninja-jwt==5.4.2
humps==0.2.2
email-validator==2.3.0

# general
requests==2.32.5
libsass==0.23.0
boto3==1.42.17
beautifulsoup4==4.14.3

# local
tzdata==2025.3

# image
pillow==12.0.0

# payment
stripe==14.1.0

# email
django-anymail[amazon-ses]==14.0

# test
coverage==7.13.0

# formatter
black==25.12.0
babel==2.17.0

# chart
matplotlib==3.10.8

# pdf
weasyprint==67.0
