django>=5.0.3
djangorestframework
black
django-admin-extras
django-cleanup
sorl-thumbnail
pillow
django-timezone-field
django-tinymce
tzdata
djangorestframework-simplejwt
drf-spectacular
drf-spectacular-sidecar
django-cors-headers
django-allauth
django-widget-tweaks
django-compressor
