{% load i18n %}

<p class="text-center">
    {% blocktranslate with name=user.customer %}Hi {{ name }}!{% endblocktranslate %}
</p>

<p class="text-center">
    {% with user.customer.credits as credits %}
    {% if credits > 0 %}
        {% translate "customer.credits" %}: <span class="badge badge-primary">{{ remaining_credits }}</span>
    {% else %}
        {% translate "customer.no-credits" %}
    {% endif %}
    {% endwith %}
</p>

<div class="flex justify-center">
    {% include "partials/customer_avatar.html" %}
</div>
