{% load pyaa %}
<!DOCTYPE html>
<html class="h-100" data-bs-theme="light">
<head>
    {% include "partials/head.html" %}
    {% block extra_head %}{% endblock %}
</head>
<body class="d-flex flex-column h-100">
    {% include "partials/header.html" %}

    <main id="main">
        {% include "partials/messages.html" %}

        {% block before_content %}{% endblock %}
        {% include "partials/banners.html" %}
        {% block content %} {% endblock %}
        {% block after_content %}{% endblock %}
    </main>

    {% include "partials/footer.html" %}
    {% block extra_footer %}{% endblock %}
</body>
</html>
