{% extends 'layouts/base.html' %}
{% load i18n %}
{% load pyaa %}

{% block content %}

<div class="container main-container">
    {% element page_header centered=True %}
        {% translate "title.gallery.index" %}
    {% endelement %}

    {% if page_obj %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 justify-content-center">
            {% for gallery in page_obj %}
            <div class="col">
                {% element card class="h-100 gallery-card" %}
                    <a href="{% url 'gallery_by_id' gallery.id %}" class="text-decoration-none">
                        <div class="text-center mb-3">
                            <img src="{{ gallery.get_main_photo_url }}" alt="{{ gallery.title }}" class="img-fluid rounded" style="height: 150px; width: 100%; object-fit: cover;">
                        </div>

                        <div class="text-center">
                            <h6 class="card-title mb-2 text-body">{{ gallery.title }}</h6>
                        </div>
                    </a>
                {% endelement %}
            </div>
            {% endfor %}
        </div>
    {% else %}
        {% include 'partials/empty_data.html' %}
    {% endif %}

    <div class="mt-4">
        {% include 'partials/paginator.html' %}
    </div>
</div>

{% endblock content %}
