{% extends 'layouts/base.html' %}
{% load i18n %}
{% load pyaa %}

{% block content %}

{% url 'gallery_index' as url_gallery_index %}

<div class="container main-container">
    {% element page_header centered=True %}
        {{ gallery.title }}
    {% endelement %}

    {% if page_obj %}
        <div id="gallery" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 justify-content-center">
            {% for photo in page_obj %}
            <div class="col">
                {% element card class="h-100 photo-card" %}
                    <a href="{{ photo.image.url }}" class="gallery-item text-decoration-none" target="_blank">
                        <div class="text-center m-0 p-0">
                            <img src="{{ photo.image.url }}" alt="{{ photo.caption|default:'' }}" class="img-fluid rounded" style="height: 150px; width: 100%; object-fit: cover;">
                        </div>

                        {% if photo.caption %}
                        <div class="text-center">
                            <p class="card-text text-muted small mb-0">{{ photo.caption }}</p>
                        </div>
                        {% endif %}
                    </a>
                {% endelement %}
            </div>
            {% endfor %}
        </div>
    {% else %}
        {% include 'partials/empty_data.html' %}
    {% endif %}

    <div class="mt-4">
        {% include 'partials/paginator.html' %}
    </div>

    <div class="mt-4 text-center">
        {% element button href=url_gallery_index tags="outline-primary" %}
            {% translate "button.back" %}
        {% endelement %}
    </div>
</div>

{% endblock content %}

{% block extra_footer %}
<script>
    $(document).ready(function () {
        $('#gallery').magnificPopup({
            delegate: 'a',
            type: 'image',
            gallery: { enabled: true }
        });
    });
</script>
{% endblock extra_footer %}
