{% extends 'layouts/base.html' %}
{% load i18n %}
{% load pyaa %}

{% block content %}

<div class="main-container">
    {% element page_header centered=True %}
        {{ category.name }}
    {% endelement %}

    {% if page_obj %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">
            {% for content in page_obj %}
            <div class="col">
                {% element card class="h-100" %}
                    <div class="d-flex flex-column h-100">
                        <h5 class="card-title mb-2 text-body">{{ content.title }}</h5>
                        <p class="text-muted small mb-3">{{ content.published_at|date:"M d, Y" }}</p>
                        <p class="text-body flex-grow-1 mb-3">{{ content.content|striptags|truncatewords:30 }}</p>
                        <div class="mt-auto">
                            <a href="{% url 'content_by_id' content.id %}" class="btn btn-primary w-100">
                                {% trans "button.continue-reading" %} &rarr;
                            </a>
                        </div>
                    </div>
                {% endelement %}
            </div>
            {% endfor %}
        </div>
    {% else %}
        {% include 'partials/empty_data.html' %}
    {% endif %}

    <div class="mt-4">
        {% include 'partials/paginator.html' %}
    </div>
</div>

{% endblock content %}
