{% extends 'layouts/base.html' %}
{% load i18n %}
{% load pyaa %}

{% block content %}

<div class="main-container">
    {% element page_header centered=True %}
        {{ content.title }}
    {% endelement %}

    {% if content.published_at %}
        <div class="text-center mb-4">
            <small class="text-muted">
                {{ content.published_at|date:"M d, Y" }}
            </small>
        </div>
    {% endif %}

    {% element card %}
        <div class="content-body">
            {{ content.content | safe }}
        </div>
    {% endelement %}
</div>

{% endblock content %}
