{% extends 'admin/base.html' %}

{% load static %}

{% block extrahead %}
    {{ block.super }}

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">

    <link rel="stylesheet" href="{% static 'vendor/jquery-ui/1.14.0/css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/custom.css' %}">
{% endblock %}

{% block footer %}
    {{ block.super }}

    <script src="{% static 'vendor/jquery/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-ui/1.14.0/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-mask/1.14.16/js/jquery.mask.min.js' %}"></script>
    <script src="{% static 'admin/js/custom.js' %}"></script>
{% endblock %}
