{% extends 'layouts/base.html' %}

{% load i18n %}
{% load static %}
{% load pyaa %}

{% block content %}

<div class="container mx-auto px-4 py-8 max-w-xl text-center">
    <img src="{% static 'images/success.png' %}" class="w-24 mx-auto mb-6" alt="Success">

    <h1 class="text-2xl font-bold mb-4">
        {% translate "title.account-activation-success" %}
    </h1>

    <p class="text-base-content/70 mb-6">
        {% translate "subtitle.account-activation-success" %}
    </p>

    <a href="{% url 'account_login' %}" class="btn btn-primary">
        {% translate "button.go-to-login" %}
    </a>
</div>

{% endblock content %}
