{% extends 'layouts/base_page.html' %}

{% load i18n %}
{% load pyaa %}

{% block content %}

{% url 'account_profile' as url_account_profile %}

{% element page_title %}
    {% translate "title.account-change-password" %}
{% endelement %}

<div class="container">
    <form method="post" novalidate>
        {% csrf_token %}

        {% element fields form=form %}
        {% endelement %}

        <div class="my-5 text-center">
            <p>
                {% element button type="submit" %}
                    {% translate "button.change-password" %}
                {% endelement %}
            </p>

            <p>
                {% element button href=url_account_profile %}
                    {% translate "button.cancel" %}
                {% endelement %}
            </p>
        </div>
    </form>
</div>

{% endblock content %}
