{% extends 'layouts/base_page.html' %}

{% load i18n %}
{% load pyaa %}
{% load pyaa_status %}
{% load shop %}

{% block content %}

{% url 'account_profile' as url_account_profile %}

{% element page_title %}
    {% translate "title.account-credit-purchases" %}
{% endelement %}

<div class="table-responsive purchases-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% translate "table.header.image" %}</th>
                <th>{% translate "table.header.plan" %}</th>
                <th>{% translate "table.header.created-at" %}</th>
                <th>{% translate "table.header.status" %}</th>
            </tr>
        </thead>
        <tbody>
            {% if purchases %}
                {% for purchase in purchases %}
                    <tr class="align-middle">
                        <td>
                            {% if purchase.plan.get_image_url %}
                                <img src="{{ purchase.plan.get_image_url }}" alt="" class="img-fluid" style="max-width: 50px;">
                            {% endif %}
                        </td>
                        <td>{{ purchase.plan.name }}</td>
                        <td>{{ purchase.created_at }}</td>
                        <td>
                            <span class="badge rounded-pill text-lowercase" style="background-color: {{ purchase.status|status_bg_color_hex }}; color: {{ purchase.status|status_text_color_hex }};">
                                {{ purchase.get_status_display }}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">
                        {% translate "list-data.empty" %}
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<div class="my-5 text-center">
    {% element button href=url_account_profile %}
        {% translate "button.back" %}
    {% endelement %}
</div>

{% endblock content %}
