{% extends 'layouts/base.html' %}

{% load i18n %}
{% load pyaa %}
{% load pyaa_status %}

{% block content %}

{% url 'account_profile' as url_account_profile %}

<div class="container main-container">
    {% element page_header centered=True %}
        {% translate "title.account-credit-purchases" %}
    {% endelement %}

    {% if page_obj %}
        {% element card padding=False %}
            <div class="table-responsive purchases-list">
                <table class="table table-striped table-borderless mb-0">
                    <thead>
                        <tr>
                            <th>{% translate "table.header.image" %}</th>
                            <th>{% translate "table.header.plan" %}</th>
                            <th>{% translate "table.header.created-at" %}</th>
                            <th>{% translate "table.header.status" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for purchase in page_obj %}
                            <tr class="align-middle">
                                <td>
                                    {% if purchase.plan.get_image_url %}
                                        <div class="d-inline-block overflow-hidden rounded" style="width: 50px; height: 28px;">
                                            <img src="{{ purchase.plan.get_image_url }}" alt="{{ purchase.plan.name }}" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
                                        </div>
                                    {% endif %}
                                </td>
                                <td>{{ purchase.plan.name }}</td>
                                <td>{{ purchase.created_at }}</td>
                                <td>
                                    <span class="badge rounded-pill text-lowercase" style="background-color: {{ purchase.status|status_bg_color_hex }}; color: {{ purchase.status|status_text_color_hex }};">
                                        {{ purchase.get_status_display }}
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endelement %}
    {% else %}
        {% include 'partials/empty_data.html' %}
    {% endif %}

    <div class="mt-4">
        {% include 'partials/paginator.html' %}
    </div>

    <div class="mt-4 text-center">
        {% element button href=url_account_profile tags="outline-primary" %}
            {% translate "button.back" %}
        {% endelement %}
    </div>
</div>

{% endblock content %}
