{% extends 'layouts/base.html' %}

{% load i18n %}
{% load pyaa %}

{% block content %}

{% url 'account_profile' as url_account_profile %}

<div class="container main-container">
    {% element page_header centered=True %}
        {% translate "title.account-credits" %}
    {% endelement %}

    {% if page_obj %}
        {% element card padding=False %}
            <div class="table-responsive credits-list">
                <table class="table table-striped table-borderless mb-0">
                    <thead>
                        <tr>
                            <th>{% translate "table.header.image" %}</th>
                            <th>{% translate "table.header.description" %}</th>
                            <th class="text-center">{% translate "table.header.amount" %}</th>
                            <th>{% translate "table.header.created-at" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for credit in page_obj %}
                            <tr class="align-middle">
                                <td>
                                    {% if credit.get_image_url %}
                                        <div class="d-inline-block overflow-hidden rounded" style="width: 50px; height: 28px;">
                                            <img src="{{ credit.get_image_url }}" alt="" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
                                        </div>
                                    {% endif %}
                                </td>
                                <td>{{ credit.get_description }}</td>
                                <td class="text-center">
                                    {% if credit.amount > 0 %}
                                        <span class="badge bg-success rounded-pill text-lowercase">
                                            {{ credit.amount }}
                                        </span>
                                    {% else %}
                                        <span class="badge bg-danger rounded-pill text-lowercase">
                                            {{ credit.amount }}
                                        </span>
                                    {% endif %}
                                </td>
                                <td>{{ credit.created_at }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endelement %}
    {% else %}
        {% include 'partials/empty_data.html' %}
    {% endif %}

    <div class="mt-4">
        {% include 'partials/paginator.html' %}
    </div>

    <div class="mt-4 text-center">
        {% element button href=url_account_profile tags="outline-primary" %}
            {% translate "button.back" %}
        {% endelement %}
    </div>
</div>

{% endblock content %}
