{% extends 'layouts/base_page.html' %}

{% load i18n %}
{% load pyaa %}
{% load shop %}

{% block content %}

{% url 'account_profile' as url_account_profile %}

{% element page_title %}
    {% translate "title.account-credits" %}
{% endelement %}

<div class="table-responsive credits-list">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% translate "table.header.image" %}</th>
                <th>{% translate "table.header.description" %}</th>
                <th>{% translate "table.header.amount" %}</th>
                <th>{% translate "table.header.validity" %}</th>
                <th>{% translate "table.header.created-at" %}</th>
            </tr>
        </thead>
        <tbody>
            {% if credits %}
                {% for credit in credits %}
                    <tr class="align-middle">
                        <td>
                            {% if credit.get_image_url %}
                                <img src="{{ credit.get_image_url }}" alt="" class="img-fluid" style="max-width: 50px;">
                            {% endif %}
                        </td>
                        <td>{{ credit.get_description }}</td>
                        <td>
                            {% if credit.amount > 0 %}
                                <span class="badge bg-success rounded-pill text-lowercase">
                                    {{ credit.amount }}
                                </span>
                            {% else %}
                                <span class="badge bg-danger rounded-pill text-lowercase">
                                    {{ credit.amount }}
                                </span>
                            {% endif %}
                        </td>
                        <td>{{ credit.get_validity_description }}</td>
                        <td>{{ credit.created_at }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">
                        {% translate "list-data.empty" %}
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<div class="my-5 text-center">
    {% element button href=url_account_profile %}
        {% translate "button.back" %}
    {% endelement %}
</div>

{% endblock content %}
