{% extends 'layouts/base.html' %}

{% load i18n %}
{% load pyaa %}

{% block content %}

{% url 'account_profile' as url_account_profile %}

<div class="container mx-auto px-4 py-8 max-w-xl text-center">
    <div class="text-error text-5xl mb-4">
        <i class="fa-solid fa-triangle-exclamation"></i>
    </div>

    {% element page_header centered=True %}
        {% translate "title.account-delete" %}
    {% endelement %}

    <p class="text-base-content/70 mb-6">
        {% translate "subtitle.account-delete" %}
    </p>

    <form action="{% url 'account_delete' %}" method="post" novalidate>
        {% csrf_token %}
        {{ form }}

        <div class="flex flex-col gap-2 mt-4">
            <button type="submit" class="btn btn-error">
                {% translate "button.account-delete-confirm" %}
            </button>
            <a href="{{ url_account_profile }}" class="btn btn-ghost">
                {% translate "button.cancel" %}
            </a>
        </div>
    </form>
</div>

{% endblock content %}
