{% extends 'layouts/base_page.html' %}

{% load i18n %}
{% load static %}
{% load pyaa %}

{% block content %}

<div class="container">
    {% element page_title %}
        {% translate "title.account-login" %}
    {% endelement %}

    <div class="section-head text-center pt-0">
        <p>{% translate "message.account-login.welcome-back" %}</p>
    </div>

    <form method="post" novalidate>
        {% csrf_token %}

        {% if next_url %}
        <input type="hidden" name="next" value="{{ next }}">
        {% endif %}

        {% element fields form=form %}
        {% endelement %}

        <button type="submit" class="btn mb-3 btn-primary w-100">
            {% translate "button.send" %}
        </button>

        <div class="text-center mt-3 mb-3">
            <a href="{% url 'account_signup' %}" class="btn-link text-center mb-3 text-dark text-decoration-none">
                {% translate "message.account-login.no-account" %}
            </a>

            <a href="{% url 'account_signup' %}" class="btn mb-3 btn-outline-primary w-100">
                {% translate "message.account-login.signup" %}
            </a>
        </div>
    </form>
</div>

{% endblock content %}
