{% extends 'layouts/base.html' %}

{% load i18n %}
{% load static %}
{% load pyaa %}

{% block content %}

<div class="container mx-auto px-4 py-8 max-w-xl text-center">
    <img src="{% static 'images/account-logout-banner.png' %}" class="w-24 mx-auto mb-6" alt="Logout">

    {% element page_header centered=True %}
        {% translate "title.account-logout-success" %}
    {% endelement %}

    <p class="text-base-content/70 mb-6">
        {% translate "subtitle.account-logout-success" %}
    </p>

    <a href="{% url 'account_login' %}" class="btn btn-primary">
        {% translate "button.login-my-account" %}
    </a>
</div>

{% endblock content %}
