{% extends 'layouts/base.html' %}

{% load i18n %}
{% load static %}
{% load pyaa %}

{% block content %}

{% url 'account_login' as url_account_login %}

<div class="container main-container">
    {% element page_header centered=True %}
        {% translate "title.account-reset-password-success" %}
    {% endelement %}

    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            {% element card %}
                <div class="text-center">
                    <div class="mb-4">
                        <span class="fs-1 text-success">
                            <i class="bi bi-check-circle-fill"></i>
                        </span>
                    </div>

                    <p class="mb-4">
                        {% translate "message.account-reset-password-success.instructions" %}
                    </p>

                    <div class="mt-4">
                        {% element button href=url_account_login tags="primary" %}
                            {% translate "button.go-to-login" %}
                        {% endelement %}
                    </div>
                </div>
            {% endelement %}
        </div>
    </div>
</div>

{% endblock content %}
