{% extends 'layouts/base.html' %}

{% load i18n %}
{% load pyaa %}

{% block content %}

<div class="container mx-auto px-4 py-8 max-w-xl text-center">
    <div class="text-success text-5xl mb-4">
        <i class="fa-solid fa-circle-check"></i>
    </div>

    <h1 class="text-2xl font-bold mb-4">
        {% translate "title.account-reset-password-success" %}
    </h1>

    <p class="text-base-content/70 mb-6">
        {% translate "message.account-reset-password-success.instructions" %}
    </p>

    <a href="{% url 'account_login' %}" class="btn btn-primary">
        {% translate "button.go-to-login" %}
    </a>
</div>

{% endblock content %}
