{% extends 'layouts/base.html' %}

{% load i18n %}
{% load static %}
{% load pyaa %}

{% block content %}

<div class="container main-container">
    {% element page_header centered=True subtitle=True %}
        {% translate "title.account-reset-password" %}
        {% slot subtitle %}
            {% translate "message.account-reset-password.instructions" %}
        {% endslot %}
    {% endelement %}

    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-10">
            {% element card %}
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}

                        {% element fields form=form %}
                        {% endelement %}

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">
                                {% translate "button.save" %}
                            </button>
                        </div>
                    </form>
                </div>
            {% endelement %}
        </div>
    </div>
</div>

{% endblock content %}
