{% extends 'layouts/base.html' %}

{% load i18n %}
{% load static %}
{% load pyaa %}

{% block content %}

<div class="container main-container">
    {% element page_header centered=True subtitle=True %}
        {% translate "title.account-signup" %}
        {% slot subtitle %}
            {% translate "message.account-signup.create-account" %}
        {% endslot %}
    {% endelement %}

    <div class="row justify-content-center">
        <div class="card shadow-modern form-container col-sm-10 col-md-6 col-lg-5">
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}

                    {% if next_url %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {% endif %}

                    {% element fields form=form %}
                    {% endelement %}

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">
                            {% translate "button.send" %}
                        </button>
                    </div>
                </form>

                <div class="form-links">
                    <p>{% translate "message.account-signup.has-account" %}</p>
                    <a href="{% url 'account_login' %}">
                        {% translate "message.account-signup.login" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
