{% extends 'layouts/base.html' %}

{% load i18n %}
{% load static %}
{% load pyaa %}

{% block content %}

<div class="container mx-auto px-4 py-8 max-w-xl text-center">
    <img src="{% static 'images/success.png' %}" class="w-24 mx-auto mb-6" alt="Success">

    <h1 class="text-2xl font-bold mb-4">
        {% translate "title.account-signup-success" %}
    </h1>

    <p class="text-base-content/70 mb-6">
        {% translate "subtitle.account-signup-success" %}
    </p>

    <a href="{% url 'account_profile' %}" class="btn btn-primary w-full">
        {% translate "button.profile" %}
    </a>

    {% if next_url %}
    <a href="{{ next_url }}" class="btn btn-primary w-full mt-2">
        {% translate "button.continue-next-url" %}
    </a>
    {% endif %}
</div>

{% endblock content %}
