{% extends 'layouts/base_page.html' %}

{% load i18n %}
{% load static %}
{% load pyaa %}

{% block content %}

<div class="container">
    {% element page_title %}
        {% translate "title.account-signup" %}
    {% endelement %}

    <div class="section-head text-center pt-0">
        <p>{% translate "message.account-signup.create-account" %}</p>
    </div>

    <div class="account-area">
        <form method="post" novalidate>
            {% csrf_token %}

            {% if next_url %}
            <input type="hidden" name="next" value="{{ next }}">
            {% endif %}

            {% element fields form=form %}
            {% endelement %}

            <button type="submit" class="btn mb-3 btn-primary w-100">
                {% translate "button.send" %}
            </button>

            <div class="text-center mt-3 mb-3">
                <p>
                    {% translate "message.account-signup.has-account" %}
                    <a href="{% url 'account_login' %}" class="btn-link text-dark">
                        {% translate "message.account-signup.login" %}
                    </a>
                </p>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
