{% extends 'layouts/base.html' %}

{% load i18n %}
{% load static %}
{% load pyaa %}

{% block content %}

{% url 'account_profile' as url_account_profile %}

<div class="container main-container">
    {% element page_header centered=True %}
        {% translate "title.account-update-address" %}
    {% endelement %}

    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-10">
            {% element card %}
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}

                        {% element fields form=form %}
                        {% endelement %}

                        <div class="d-grid gap-2">
                            {% element button type="submit" tags="primary" %}
                                {% translate "button.update" %}
                            {% endelement %}

                            {% element button href=url_account_profile tags="outline-secondary" %}
                                {% translate "button.cancel" %}
                            {% endelement %}
                        </div>
                    </form>
                </div>
            {% endelement %}
        </div>
    </div>
</div>

{% endblock content %}
