{% load pyaa %}
{% comment %} djlint:off {% endcomment %}

<{% if attrs.href %}a href="{{ attrs.href }}"{% else %}button{% endif %}
{% if attrs.form %}form="{{ attrs.form }}"{% endif %}
{% if attrs.id %}id="{{ attrs.id }}"{% endif %}
{% if attrs.name %}name="{{ attrs.name }}"{% endif %}
{% if attrs.value %}value="{{ attrs.value }}"{% endif %}
{% if attrs.submit %}type="submit"{% elif attrs.type %}type="{{ attrs.type }}"{% endif %}
{% if attrs.disabled %}disabled{% endif %}

{% if 'outline-error' in attrs.tags or 'outline-danger' in attrs.tags %}
class="btn btn-outline btn-error{% if attrs.class %} {{ attrs.class }}{% endif %}"
{% elif 'outline-success' in attrs.tags %}
class="btn btn-outline btn-success{% if attrs.class %} {{ attrs.class }}{% endif %}"
{% elif 'outline-warning' in attrs.tags %}
class="btn btn-outline btn-warning{% if attrs.class %} {{ attrs.class }}{% endif %}"
{% elif 'outline-info' in attrs.tags %}
class="btn btn-outline btn-info{% if attrs.class %} {{ attrs.class }}{% endif %}"
{% elif 'outline-secondary' in attrs.tags %}
class="btn btn-outline btn-secondary{% if attrs.class %} {{ attrs.class }}{% endif %}"
{% elif 'outline-primary' in attrs.tags %}
class="btn btn-outline btn-primary{% if attrs.class %} {{ attrs.class }}{% endif %}"
{% elif 'error' in attrs.tags or 'danger' in attrs.tags %}
class="btn btn-error{% if attrs.class %} {{ attrs.class }}{% endif %}"
{% elif 'success' in attrs.tags %}
class="btn btn-success{% if attrs.class %} {{ attrs.class }}{% endif %}"
{% elif 'warning' in attrs.tags %}
class="btn btn-warning{% if attrs.class %} {{ attrs.class }}{% endif %}"
{% elif 'info' in attrs.tags %}
class="btn btn-info{% if attrs.class %} {{ attrs.class }}{% endif %}"
{% elif 'secondary' in attrs.tags %}
class="btn btn-secondary{% if attrs.class %} {{ attrs.class }}{% endif %}"
{% elif 'ghost' in attrs.tags %}
class="btn btn-ghost{% if attrs.class %} {{ attrs.class }}{% endif %}"
{% elif 'link' in attrs.tags %}
class="btn btn-link{% if attrs.class %} {{ attrs.class }}{% endif %}"
{% else %}
class="btn btn-primary{% if attrs.class %} {{ attrs.class }}{% endif %}"
{% endif %}
>
{% slot %}
{% endslot %}
</{% if attrs.href %}a{% else %}button{% endif %}>
