{% load pyaa %}

<div class="card bg-base-100 shadow-sm{% if attrs.class %} {{ attrs.class }}{% endif %}"
     {% if attrs.id %}id="{{ attrs.id }}"{% endif %}>

    {% setvar header_content %}
        {% slot header %}
        {% endslot %}
    {% endsetvar %}

    {% if header_content %}
    <div class="card-header p-4 border-b border-base-200">
        {{ header_content }}
    </div>
    {% endif %}

    <div class="card-body items-center text-center{% if attrs.padding == False %} p-0{% endif %}{% if attrs.body_class %} {{ attrs.body_class }}{% endif %}">
        {% slot %}
        {% endslot %}
    </div>

    {% setvar footer_content %}
        {% slot footer %}
        {% endslot %}
    {% endsetvar %}

    {% if footer_content %}
    <div class="card-footer p-4 border-t border-base-200">
        {{ footer_content }}
    </div>
    {% endif %}
</div>
