{% extends 'layouts/base.html' %}
{% load i18n %}
{% load pyaa %}

{% block content %}

<div class="container">
    {% element page_title %}
        {% translate "pyaa.site.name" %}
    {% endelement %}

    <br>

    {% if user.is_authenticated %}
    <p class="text-center">
        {% blocktranslate with name=user.get_full_name %}Hi {{ name }}!{% endblocktranslate %}
    </p>

    <br>

    <a href="{% url 'account_logout' %}"
        class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
        {% translate "menu.logout" %}
    </a>
    {% else %}
    <a href="{% url 'account_login' %}"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
        {% translate "menu.login" %}
    </a>
    {% endif %}
</div>

{% endblock content %}
