{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}
{% load pyaa %}

{% block content %}

<div class="container mx-auto px-4 py-8 max-w-2xl text-center">
    <img src="{% static 'images/logo.png' %}" alt="{% translate 'site.small-name' %}" style="width: 64px; height: 64px;" class="mx-auto mb-4">

    {% if user.is_authenticated %}
    <h2 class="text-2xl font-bold mb-2">
        {% blocktranslate with name=user.customer %}Olá, {{ name }}!{% endblocktranslate %}
    </h2>
    <p class="text-base-content/70 mb-6">{% translate "site.name" %}</p>
    {% else %}
    <h1 class="text-2xl font-bold mb-6">{% translate "site.name" %}</h1>
    <div class="flex gap-3 flex-wrap justify-center mb-6">
        <a href="{% url 'account_login' %}" class="btn btn-primary">
            <i class="fa-solid fa-right-to-bracket mr-2"></i>
            {% translate "menu.login" %}
        </a>
        <a href="{% url 'account_signup' %}" class="btn btn-outline btn-primary">
            <i class="fa-solid fa-user-plus mr-2"></i>
            {% translate "menu.signup" %}
        </a>
    </div>
    {% endif %}

    {% include 'partials/newsletter_subscribe.html' %}

    {% include 'partials/language_selector.html' %}
</div>

{% endblock content %}
