{% extends 'layouts/base.html' %}
{% load i18n %}
{% load pyaa %}
{% load pyaa_status %}
{% load static %}

{% block content %}

<div class="container">
    <div class="py-5 text-center">
        <div class="mb-4">
            <span class="fs-1 text-success">
                <i class="bi bi-check-circle-fill"></i>
            </span>
        </div>

        {% element page_title %}
            {% trans "message.shop-payment-success.title" %}
        {% endelement %}

        <p class="lead mb-4">
            {% trans "message.shop-payment-success.subtitle" %}
        </p>

        <div class="bg-body-secondary p-3 rounded mb-4 mx-auto" style="max-width: 500px;">
            <p class="mb-2">
                <strong>
                    {% trans "message.shop-payment-date" %}
                </strong>
                <br />
                {{ paid_item.created_at }}
            </p>

            <p class="mb-0">
                <strong>
                    {% trans "message.shop-payment-status" %}
                </strong>
                <br />
                <span class="badge text-bg-success rounded-pill">
                    {{ paid_item.get_status_display }}
                </span>
            </p>
        </div>

        {% if paid_item_type == "subcription" %}
            <div class="mt-4">
                {% url 'account_subscriptions' as url_area %}

                {% element button href=url_area tags="success" %}
                    {% translate "button.account-subscriptions" %}
                {% endelement %}
            </div>
        {% elif paid_item_type == "credit-purchase" %}
            <div class="mt-4">
                {% url 'account_credit_purchases' as url_area %}

                {% element button href=url_area tags="success" %}
                    {% translate "button.account-credit-purchases" %}
                {% endelement %}
            </div>
        {% elif paid_item_type == "product-purchase" %}
            <div class="mt-4">
                {% url 'account_product_purchases' as url_area %}

                {% element button href=url_area tags="success" %}
                    {% translate "button.account-product-purchases" %}
                {% endelement %}
            </div>
        {% endif %}
    </div>
</div>

{% endblock content %}
