{% extends 'emails/layouts/base.html' %}
{% load i18n %}

{% block email_subject %}
    {% translate "email.contact.subject" %}
{% endblock %}

{% block email_content %}
    <p>{% blocktranslate %}email.contact.title{% endblocktranslate %}</p>

    <p><strong>{% translate "model.field.name" %}:</strong> {{ form.name }}</p>
    <p><strong>{% translate "model.field.email" %}:</strong> {{ form.email }}</p>
    <p><strong>{% translate "model.field.message" %}:</strong> {{ form.message | linebreaksbr }}</p>
{% endblock %}
