{% extends 'layouts/base.html' %}

{% load i18n %}
{% load pyaa %}

{% block content %}

<div class="container main-container">
    {% element page_header centered=True %}
        {% translate "title.contact" %}
    {% endelement %}

    <div class="row justify-content-center">
        <div class="card shadow-modern form-container col-sm-10 col-md-6 col-lg-5">
            <div class="card-body">
                <form method="POST" class="needs-validation" novalidate onsubmit="preventDoubleFormSubmit(this)">
                    {% csrf_token %}
                    {% element fields form=form %}
                    {% endelement %}

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">
                            {% translate "button.send" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
